extends layout

block content
  h1= title
  p Welcome to #{title}

  iframe(width="350" height="430" allow="microphone;" src="https://console.dialogflow.com/api-client/demo/embedded/c6247148-0fc4-4ef5-b5d7-1abc2dc2639e")

  div(class="g-signin2" data-onsuccess="onSignIn")

  script.
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
