doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title LUMOHACKS #CANWETALK
    // Bootstrap core CSS
    link(href='vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i', rel='stylesheet')
    // Custom styles for this template
    link(href='stylesheets/business-casual.min.css', rel='stylesheet')
  body
    h1.site-heading.text-center.text-white.d-none.d-lg-block
      span.site-heading-upper.text-primary.mb-3 A Voice Skill to Help You
      span.site-heading-lower #CANWETALK
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-dark.py-lg-4
      .container
        a.navbar-brand.text-uppercase.text-expanded.font-weight-bold.d-lg-none(href='#') Start Bootstrap
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.mx-auto
            li.nav-item.active.px-lg-4
              a.nav-link.text-uppercase.text-expanded(href='/')
                | Home
                span.sr-only (current)
            li.nav-item.px-lg-4
              a.nav-link.text-uppercase.text-expanded(href='/dashboard') Dashboard
    section.page-section.clearfix
      div.container
        div.intro
          div.row
            div.col-md-6
              div.left-0.text-center.bg-faded.p-5.rounded
                h2.section-heading.mb-4
                  span.section-heading-upper DAILY ROUTINE
                  span.section-heading-lower HEY, TEDDY
                p.mb-3
                  | A voice skill that will help people to live a healthy life. Purpose is to motivate people with sleep disorders and depression. Anyone is welcome to use our app to make their life better which is our one and only goal.
                div.intro-button.mx-auto
            div.col-md-6
              iframe(style='width: 100%', height='430', allow='microphone;', src='https://console.dialogflow.com/api-client/demo/embedded/c6247148-0fc4-4ef5-b5d7-1abc2dc2639e')
    section.cta
      div.container
        div.row
          div.col-xl-9.mx-auto
            div.cta-inner.text-center.rounded
              h2.section-heading.mb-4
                span.section-heading-upper Team Teddy
                span.section-heading-lower About Us
              p.mb-0
                | Hello, we are students from BCIT computing program. We wanted to create an web-app that would help people who suffer from extreme depression. As a result, we came up with the idea #CANWETALK. #CANWETALK is basically a website with Google Assistance(voice skill) where users could communicate with our special agent Teddy. This way, people could easily record their daily exercise and sleeping hours and also, could view the charts on the website in their own dashboard.
    footer.footer.text-faded.text-center.py-5
      div.container
        p.m-0.small Copyright © Can we talk 2018
    // Bootstrap core JavaScript
    script(src='vendor/jquery/jquery.min.js')
    script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')

  script.
    function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    }
