doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://apis.google.com/js/platform.js" async defer)
    meta(name='google-signin-client_id' content='531974214516-cch3ebsu2fufe6ibcksv9vgoujaqcqmv.apps.googleusercontent.com')
  body
    block content

